.input{
    width:250px;
    height:45px;
    margin:5px;
    border:2px solid rgb(245, 242, 242);
    border-radius:7px;padding-left:5px
}
.select{
    width:250px;
    height:50px;
    margin:5px;
    border:2px solid rgb(245, 242, 242);
    border-radius:7px;padding-left:5px
}
.btn{
    padding:12px;
    border-radius:7px;
    color:white;
    border:0px
}
.btn-succes{
    background-color: rgb(184, 255, 103);
}
.btn-danger{
    background-color: rgb(255, 103, 103);margin-left:12px
}
.btn-primary{
    background-color: rgb(129, 129, 241);
}
.list{
    padding:5px
}